button {
	height: 4rem;
	border: none;
	color: white;
	font-size: 2rem;
	opacity: 80%;
	width: 25%;
}

button:hover {
	opacity: 100%;
}

.positive {
	background-color: #39bfd0;
}

.negative {
	background-color: #c95485;
}
