.counter {
	display: flex;
	flex-direction: row;
	font-size: 4rem;
	min-width: 100%;
	max-width: 85vw;
	height: 35vh;
	align-items: center;
	background: #fdceaf;
	justify-content: center;
	margin: 2rem 0;
}
